* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  overflow: hidden;
}

.msg{
  width: 380px;
  height: 50px ;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  background-color: blue;
  box-shadow: 0px 0px 10px white;
  text-align: center;
  margin: 5px 0px;
  transition: 2s ease;
  border-radius: 10px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.square{
  transition: 2s ease;
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: #1d1d1d;
  box-shadow: 0px 0px 2px #000;
  border-radius: 4px;
}
.square:hover{
    transition: 0s ;
}


